* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: none;
}


li, a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 20;
    font-size: 17px;
    color: beige;
    text-decoration: none;
    font-weight: bold;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: #383e48;
}


.nav__links {
    list-style: none;
    background-color: #383e48;
    margin-top: 2px;
}

nav {
    background-color: #383e48;
    margin-right: auto;
    margin-left: 5px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #383e48;

}


.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: #383e48;
}

.nav__links li a:hover {
    color: rgba(10, 82, 99, 0.774);
}

.cta {
    background-color: #383e48;
}

/*909593  469ebe  */
#sign-in {
    padding: 6px 12px;
    height: 48px;
    width: 80px;
    background-color: #2c7868;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: beige;
    text-decoration: none;
}

#button:hover {
    background-color: #0088a9;
}

.menu {
    display: none;
    margin-top: 5px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: beige;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60;
}

.selectedlink {
    color: #EDF5E1;
    bottom: 20%; /*Change this to increase/decrease distance*/
    border-bottom: 3px solid #EDF5E1;
}

/*
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size:40px;
        top:15px;
        right:35px;
    }
}

@media screen and (max-width: 800px) {
    .nav__links, .cta {
        display:none;
    }
    .menu {
        display: inherit;
    }
}*/

i.fa {
    color: beige;
    font-size: 30px;
    margin-top: 10px;
}

h2 {
    margin-top: 12px;
    margin-left: 5px;
    color: #ecbc40;
}

#register {
    padding: 6px 12px;
    height: 48px;
    width: 80px;
    background-color: #ecbc40;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 50;
    font-size: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

.menulinks {
    list-style: none;
    background-color: #383e48;
    margin-top: 4px;
}

.menulinks li {
    display: inline-block;
    padding: 0px 10px;
    background-color: #383e48;

}