.createform {
  width: 100%;
  max-width:700px;
  padding: 15px;
  margin:auto;
  height: 100%;
  
}

.contain {
  background-image: url(../../images/cookingicons.jpg);
  width: 100%;
  height: 100%;
  
}

.labs {
  color: white;
  background-color: black;
}